body{
    margin: 0;
    background-image: url(Gojo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    height: 100vh;
}

#clock{
    font-family: monospace;
    font-size: 6.5rem;
    font-weight: bold;
    color: white;
    text-align: center;
    backdrop-filter: blur(5px);
    width: 100%;
    background-color: hsla(0, 0%, 100%,0.1);
}